@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.438);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 167, 167);
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    display: flex;
    width: 10px;
    height: 10px;
  }
}
